<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="min-h-screen w-full bg-zinc-900 p-10 text-white">
        <form action="/create" method="post">
            <h3 class="text-3xl mb-3 tracking-tighter">Create User</h3>
            <input class="px-2 py-3 rounded-md bg-transparent border-2 outline-none border-zinc-800" type="text" name="name" placeholder="name">
            <input class="px-2 py-3 rounded-md bg-transparent border-2 outline-none border-zinc-800" type="text" name="username" placeholder="username">
            <input class="px-2 py-3 rounded-md bg-transparent border-2 outline-none border-zinc-800" type="email" name="email" placeholder="email">
            <input class="px-2 py-3 rounded-md bg-transparent border-2 outline-none border-zinc-800" type="number" name="age" placeholder="age">
            <input class="px-2 py-3 rounded-md bg-transparent border-2 outline-none border-zinc-800" type="text" name="password" placeholder="password">
            <input class="px-4 py-3 rounded-lg bg-blue-500 hover:bg-blue-600 text-white font-semibold" type="submit" value="Create User">
        </form>
    </main>
</body>
</html>